<h1>{{question.question_text}}</h1>

{%if error_message%}
	<h4>{{error_message}}</h4>
{%endif%}
{%if question.choice_set.all%}
	<form action="{%url 'polls:vote' question.id%}" method="post">
		{% csrf_token %} 
		{%for c in question.choice_set.all%}
			<input type="radio" name="qChoice" id="qChoice{{forloop.counter}}" value="{{c.id}}"/>
			<label for="qChoice{{forloop.counter}}">{{c.choice_text}}</label>
			<br/>
		{%endfor%}
		<input type="submit" value="Vote"/>
	</form>
{%endif%}
