{%load static%}

<link rel="stylesheet" type="text/css" href="{%static 'polls/style.css'%}"/>

<h1>Question List</h1>

{%if latest_questions%}
	<ul>
		{%for q in latest_questions%}
			<li><a href="{%url 'polls:detail' q.id%}">{{q.question_text}}</a></li>
		{%endfor%}
	</ul>
{%else%}
	<h4>No questions found.</h4>
{%endif%}