<h1>{{question.question_text}}</h1>

<table>
	<thead>
		<th>Choice</th>
		<th># of Votes</th>
	</thead>
	<tbody>
		{%for c in question.choice_set.all|dictsortreversed:"votes"%}
			<tr>
				<td>{{c.choice_text}}</td>
				<td>{{c.votes}}</td>
			</tr>
		{%endfor%}
	</tbody>
</table>

<a href="{%url 'polls:detail' question.id%}">Return</a>